nav>.links{
    text-decoration: none;
    color: #fff;
    transition: all ease-in-out  0.6s;
    padding: 10px 20px;
    border-radius: 20px;
}
nav > .links:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px chartreuse;
}